button {
    display: inline-block;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    padding: .5rem 1.2rem;
    user-select: none;
    border: 1px solid transparent;
    border-radius: .3rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button:active {
    background-color: #0062cc;
    border-color: #005cbf
}

button:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    cursor: pointer;
}

button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}